<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-11 col-md-8 col-lg-5 col-xl-10">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Login</h2>
                      
      
                   
                        </div>
                        
                        <form #f="ngForm" (ngSubmit)="f.form.valid && onFormSubmit()">

                            <div class="row">
                                <div class="d-flex justify-content-center">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="userId" required>User ID</label>
                                            <span class="redStar">*</span>
                                            <input type="text" name="userId" id="userId" #userId="ngModel" [(ngModel)]="user.userId"
                                                class="form-control ng-invalid form-control-lg" required />
                                                <small class="text-danger" *ngIf="userId.touched && !userId.valid">user Id is required</small>
                                        </div>


                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="password" required>Password</label>
                                            <span class="redStar">*</span>
                                            <input type="password" name="password" id="password" #password="ngModel"
                                                [(ngModel)]="user.password"
                                                class="form-control ng-invalid form-control-lg" required />
                                            <i class="glyphicon glyphicon-eye-open form-control-feedback"></i>
                                            <small class="text-danger" *ngIf="password.touched && !password.valid">Last Name is required</small>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="checkbox" unchecked />
                                            <label class="form-check-label" for="form1Example3"> Remember me </label>
                                          </div>

                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <div class="modal-header">
                                    <input class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit" value="Login" />
                                </div>
                            </div>
                        </form>
                        

                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">
                                    Forgot User ID
                                </h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form #forgotUser="ngForm">
                                    <div class="container">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="form-label">Enter your Contact Number</label>
                                                <input name="contactNumber" [(ngModel)]="forgotUserID.contactNumber" type="tel"
                                                    class="form-control">
                                            </div>
                                            <div class="col-lg-12">
                                                <label class="form-label">What is your pet name?</label>
                                                <input name="ans4" [(ngModel)]="forgotUserID.ans4" type="text"
                                                    class="form-control">
                                            </div>
                                            <br />
                                            <div class="col-lg-12">
                                                <label class="form-label">What is your favourite colour?</label>
                                                <input name="ans5" [(ngModel)]="forgotUserID.ans5" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="col-lg-12">
                                                <label class="form-label">What is your favourite day?</label>
                                                <input name="ans6" [(ngModel)]="forgotUserID.ans6" type="text"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark"
                                    (click)="modal.close('Save click');onForgotUserIdSubmit()">
                                    Submit
                                </button>
                            </div>
                        </ng-template>

                        <div class="row">
                            <div class="col-9">
                            
                                <button class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="open(content)">
                                    Forgot User ID
                                </button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="open(contentPassword);">
                                    Forgot Password
                                </button>
                            </div>
                        </div>

                        <ng-template #contentPassword let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">
                                    Forgot Password
                                </h4>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">
                                        ×
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form #forgotPassword="ngForm">
                                    <div class="container">

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="form-label">User ID :</label>
                                                <input name="userId" [(ngModel)]="forgotUserID.userId" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="col-lg-12">
                                                <label class="form-label">What is your pet name?</label>
                                                <input name="ans1" [(ngModel)]="forgotUserID.ans1" type="text"
                                                    class="form-control">
                                            </div>
                                            <br />
                                            <div class="col-lg-12">
                                                <label class="form-label">What is your favourite colour?</label>
                                                <input name="ans2" [(ngModel)]="forgotUserID.ans2" type="text"
                                                    class="form-control">
                                            </div>
                                            <div class="col-lg-12">
                                                <label class="form-label">What is your favourite day?</label>
                                                <input name="ans3" [(ngModel)]="forgotUserID.ans3" type="text"
                                                    class="form-control">
                                            </div>
                                            <div *ngIf="passwordResetValid">
                                                <div class="col-lg-12">
                                                    <label class="form-label">Password</label>
                                                    <input name="password" [(ngModel)]="resetPassword.password"
                                                        type="password" minlength="3" maxlength="10"
                                                        class="form-control">
                                                </div>
                                                <div class="col-lg-12">
                                                    <label class="form-label">Confirm Password
                                                    </label>
                                                    <input name="confirmPassword" minlength="3" maxlength="10"
                                                        [(ngModel)]="resetPassword.confirmPassword" type="password"
                                                        class="form-control">
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <div *ngIf="!passwordResetValid">
                                    <button type="button" class="btn btn-outline-dark"
                                        [disabled]="resetPassword.password != resetPassword.confirmPassword"
                                        (click)=" onForgotPasswordSubmit();">
                                        Submit
                                    </button>
                                </div>
                                <div *ngIf="passwordResetValid">
                                    <button type="button" class="btn btn-outline-dark"
                                        [disabled]="resetPassword.password != resetPassword.confirmPassword"
                                        (click)="modal.close('Save click'); onForgotPasswordSubmit();">
                                        Submit
                                    </button>
                                </div>
                                
                            </div>
                            
                        </ng-template>
                    </div>

                </div>
            
