<section class="vh-100 bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp')"
    class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-11 col-md-8 col-lg-5 col-xl-10">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Sign Up</h2>



                            <form #f="ngForm" (ngSubmit)="f.form.valid && onFormSubmit()">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="firstName" required>First Name</label>
                                            <span class="redStar">*</span>
                                            <input type="text" pattern="[a-zA-Z ]*" name="firstName" id="firstName"
                                                #firstName="ngModel" [(ngModel)]="user.firstName" ngmodel
                                                class="form-control ng-invalid form-control-lg" required />
                                            <small class="text-danger"
                                                *ngIf="firstName.touched && !firstName.valid">First Name is
                                                required</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="lastName">Last
                                                Name</label>
                                            <span class="redStar">*</span>
                                            <input type="text" pattern="[a-Za-Z ]*" id="lastName" name="lastName"
                                                #lastName="ngModel" [(ngModel)]="user.lastName"
                                                class="form-control form-control-lg" required />
                                            <small class="text-danger" *ngIf="lastName.touched && !lastName.valid">Last
                                                Name is required</small>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label" for="email">Email</label>
                                            <span class="redStar">*</span>
                                            <input type="text" pattern="[a-Za-Z ]*" id="email" name="email"  #email="ngModel" 
                                                [(ngModel)]="user.email" class="form-control form-control-lg" required/>
                                            <small class="text-danger" *ngIf="email.touched && !email.valid">Email is
                                                required</small>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="Role">Role</label>
                                            <span class="redStar">*</span>
                                            <input type="text" pattern="[a-zA-Z ]*" id="role" name="role" ngModel
                                                #role="ngModel" [(ngModel)]="user.role"
                                                class="form-control form-control-lg" required />
                                            <small class="text-danger" *ngIf="role.touched && !role.valid">Role is
                                                required</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label" for="userName">User Name</label>
                                            <span class="redStar">*</span>
                                            <input type="text" pattern="[a-zA-Z ]*" id="userName" name="userName"
                                                ngModel #userName="ngModel" [(ngModel)]="user.userName"
                                                class="form-control form-control-lg" required />

                                            <small class="text-danger" *ngIf="userName.touched && !userName.valid">User
                                                Name is required</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="userId">User ID</label>
                                            <span class="redStar">*</span>
                                            <input name="userId" [(ngModel)]="user.userId" type="text" id="userId"
                                                name="userId" ngModel #userId="ngModel"
                                                class="form-control form-control-lg" required />
                                            <small class="text-danger" *ngIf="userId.touched && !userId.valid">User ID
                                                is required</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="phoneNumber">Contact Number</label>
                                            <span class="redStar">*</span>
                                            <input name="contactNumber" pattern="[0-9]*"
                                                [(ngModel)]="user.contactNumber" name="contactNumber" ngModel
                                                #contactNumber="ngModel" type="tel" id="phoneNumber"
                                                class="form-control form-control-lg" required />
                                            <small class="text-danger"
                                                *ngIf="contactNumber.touched && !contactNumber.valid">Contact Number is
                                                required</small>

                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="alternateNumber">Alternate Number</label>
                                            <span class="redStar">*</span>
                                            <input name="alternateNumber" pattern="[0-9]*"
                                                [(ngModel)]="user.alternateNumber" name="alternateNumber" ngModel
                                                #alternateNumber="ngModel" type="tel" id="alternateNumber"
                                                class="form-control form-control-lg" required />
                                            <small class="text-danger"
                                                *ngIf="alternateNumber.touched && !alternateNumber.valid">Alternate
                                                Number is required</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="password">Password</label>
                                            <span class="redStar">*</span>
                                            <input name="password" [(ngModel)]="user.password" type="password"
                                                id="password" name="password" ngModel #password="ngModel"
                                                class="form-control form-control-lg" required />
                                            <small class="text-danger"
                                                *ngIf="password.touched && !password.valid">Password is required</small>

                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label" for="confirmPassword">Confirm Password</label>
                                            <span class="redStar">*</span>
                                            <input type="password" name="confirmPassword" id="confirmPassword"
                                                class="form-control form-control-lg" [(ngModel)]="confirmPassword" />

                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 pt-2">
                                    <input class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit"
                                        value="Submit" [disabled]="user.password != confirmPassword " />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>